*{
    margin: 0px;
    padding: 0;
}
.clearfix{
    *zoom:1;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    border-style: none;
}
